{
  "openapi": "3.1.0",
  "info": {
    "title": "Monkeytype API",
    "description": "Documentation for the endpoints provided by the Monkeytype API server.\n\nNote that authentication is performed with the Authorization HTTP header in the format `Authorization: ApeKey YOUR_APE_KEY`\n\nThere is a rate limit of `30 requests per minute` across all endpoints with some endpoints being more strict. Rate limit rates are shared across all ape keys.",
    "version": "2.0.0",
    "termsOfService": "https://monkeytype.com/terms-of-service",
    "contact": {
      "name": "Support",
      "email": "support@monkeytype.com"
    },
    "x-logo": {
      "url": "https://monkeytype.com/images/mtfulllogo.png"
    },
    "license": {
      "name": "GPL-3.0",
      "url": "https://www.gnu.org/licenses/gpl-3.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.monkeytype.com",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "users",
      "description": "User account data.",
      "x-displayName": "Users",
      "x-public": "yes"
    },
    {
      "name": "results",
      "description": "User test results",
      "x-displayName": "Test results",
      "x-public": "yes"
    },
    {
      "name": "public",
      "description": "Public endpoints such as typing stats.",
      "x-displayName": "Public",
      "x-public": "yes"
    },
    {
      "name": "leaderboards",
      "description": "All-time and daily leaderboards of the fastest typers.",
      "x-displayName": "Leaderboards"
    },
    {
      "name": "psas",
      "description": "Public service announcements.",
      "x-displayName": "PSAs",
      "x-public": "yes"
    },
    {
      "name": "quotes",
      "description": "Quote ratings and new quote submissions",
      "x-displayName": "Quotes",
      "x-public": "yes"
    },
    {
      "name": "configuration",
      "description": "Server configuration",
      "x-displayName": "Server configuration",
      "x-public": "yes"
    },
    {
      "name": "webhooks",
      "description": "Endpoints for incoming webhooks.",
      "x-displayName": "Webhooks",
      "x-public": "yes"
    }
  ],
  "paths": {
    "/psas": {
      "get": {
        "description": "Get list of public service announcements.\n\n**Rate limit:** This operation can be called up to 60 times per minute for regular users.\n\n",
        "summary": "get psas",
        "tags": [
          "psas"
        ],
        "parameters": [],
        "operationId": "psas.get",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string",
                            "pattern": "^[a-zA-Z0-9_]+$"
                          },
                          "message": {
                            "type": "string"
                          },
                          "date": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "level": {
                            "type": "integer"
                          },
                          "sticky": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "_id",
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "x-ratelimit-limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of allowed requests in the current period"
              },
              "x-ratelimit-remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of remaining requests in the current period"
              },
              "x-ratelimit-reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "The timestamp of the start of the next period"
              }
            }
          },
          "400": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Generic client error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required but not provided or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Authentication required but not provided or invalid"
                }
              }
            }
          },
          "403": {
            "description": "Operation not permitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Operation not permitted"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "validationErrors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "validationErrors"
                  ],
                  "description": "Request validation failed"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Generic server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "errorId"
                  ],
                  "description": "Generic server error"
                }
              }
            }
          },
          "503": {
            "description": "Endpoint disabled or server is under maintenance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "errorId"
                  ],
                  "description": "Endpoint disabled or server is under maintenance"
                }
              }
            }
          }
        },
        "x-public": "yes",
        "security": []
      }
    },
    "/public/speedHistogram": {
      "get": {
        "description": "get number of users personal bests grouped by wpm level (multiples of ten).\n\n**Rate limit:** This operation can be called up to 60 times per minute for regular users.\n\n",
        "summary": "get speed histogram",
        "tags": [
          "public"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "maxLength": 50,
                  "pattern": "^[a-zA-Z0-9_+]+$"
                }
              }
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "time",
                    "words",
                    "quote",
                    "custom",
                    "zen"
                  ]
                }
              }
            }
          },
          {
            "name": "mode2",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "oneOf": [
                        {
                          "type": "string",
                          "pattern": "^\\d+$"
                        },
                        {
                          "type": "number"
                        }
                      ]
                    },
                    {
                      "type": "string",
                      "enum": [
                        "zen"
                      ]
                    },
                    {
                      "type": "string",
                      "enum": [
                        "custom"
                      ]
                    }
                  ]
                }
              }
            }
          }
        ],
        "operationId": "public.getSpeedHistogram",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "integer"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "x-ratelimit-limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of allowed requests in the current period"
              },
              "x-ratelimit-remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of remaining requests in the current period"
              },
              "x-ratelimit-reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "The timestamp of the start of the next period"
              }
            }
          },
          "400": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Generic client error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required but not provided or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Authentication required but not provided or invalid"
                }
              }
            }
          },
          "403": {
            "description": "Operation not permitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Operation not permitted"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "validationErrors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "validationErrors"
                  ],
                  "description": "Request validation failed"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Generic server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "errorId"
                  ],
                  "description": "Generic server error"
                }
              }
            }
          },
          "503": {
            "description": "Endpoint disabled or server is under maintenance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "errorId"
                  ],
                  "description": "Endpoint disabled or server is under maintenance"
                }
              }
            }
          }
        },
        "x-public": "yes",
        "security": []
      }
    },
    "/public/typingStats": {
      "get": {
        "description": "get number of tests and time users spend typing.\n\n**Rate limit:** This operation can be called up to 60 times per minute for regular users.\n\n",
        "summary": "get typing stats",
        "tags": [
          "public"
        ],
        "parameters": [],
        "operationId": "public.getTypingStats",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "timeTyping": {
                          "type": "number",
                          "minimum": 0
                        },
                        "testsCompleted": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "testsStarted": {
                          "type": "integer",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "timeTyping",
                        "testsCompleted",
                        "testsStarted"
                      ]
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "x-ratelimit-limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of allowed requests in the current period"
              },
              "x-ratelimit-remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of remaining requests in the current period"
              },
              "x-ratelimit-reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "The timestamp of the start of the next period"
              }
            }
          },
          "400": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Generic client error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required but not provided or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Authentication required but not provided or invalid"
                }
              }
            }
          },
          "403": {
            "description": "Operation not permitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Operation not permitted"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "validationErrors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "validationErrors"
                  ],
                  "description": "Request validation failed"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Generic server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "errorId"
                  ],
                  "description": "Generic server error"
                }
              }
            }
          },
          "503": {
            "description": "Endpoint disabled or server is under maintenance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "errorId"
                  ],
                  "description": "Endpoint disabled or server is under maintenance"
                }
              }
            }
          }
        },
        "x-public": "yes",
        "security": []
      }
    },
    "/leaderboards": {
      "get": {
        "description": "Get all-time leaderboard.\n\n**Rate limit:** This operation can be called up to 500 times per hour for regular users.\n\n",
        "summary": "get leaderboard",
        "tags": [
          "leaderboards"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "maxLength": 50,
                  "pattern": "^[a-zA-Z0-9_+]+$"
                }
              }
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "time",
                    "words",
                    "quote",
                    "custom",
                    "zen"
                  ]
                }
              }
            }
          },
          {
            "name": "mode2",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "oneOf": [
                        {
                          "type": "string",
                          "pattern": "^\\d+$"
                        },
                        {
                          "type": "number"
                        }
                      ]
                    },
                    {
                      "type": "string",
                      "enum": [
                        "zen"
                      ]
                    },
                    {
                      "type": "string",
                      "enum": [
                        "custom"
                      ]
                    }
                  ]
                }
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "content": {
              "application/json": {
                "schema": {
                  "default": 0,
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 9007199254740991
                }
              }
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "content": {
              "application/json": {
                "schema": {
                  "default": 50,
                  "type": "integer",
                  "minimum": 10,
                  "maximum": 200,
                  "exclusiveMinimum": 0
                }
              }
            }
          }
        ],
        "operationId": "leaderboards.get",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "pageSize": {
                          "type": "integer",
                          "minimum": 0,
                          "exclusiveMinimum": 0
                        },
                        "entries": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "wpm": {
                                "type": "number",
                                "minimum": 0
                              },
                              "acc": {
                                "type": "number",
                                "minimum": 0,
                                "maximum": 100
                              },
                              "timestamp": {
                                "type": "integer",
                                "minimum": 0
                              },
                              "raw": {
                                "type": "number",
                                "minimum": 0
                              },
                              "consistency": {
                                "type": "number",
                                "minimum": 0
                              },
                              "uid": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "discordId": {
                                "type": "string"
                              },
                              "discordAvatar": {
                                "type": "string"
                              },
                              "rank": {
                                "type": "integer",
                                "minimum": 0
                              },
                              "badgeId": {
                                "type": "integer"
                              },
                              "isPremium": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "wpm",
                              "acc",
                              "timestamp",
                              "raw",
                              "uid",
                              "name",
                              "rank"
                            ]
                          }
                        }
                      },
                      "required": [
                        "count",
                        "pageSize",
                        "entries"
                      ]
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "x-ratelimit-limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of allowed requests in the current period"
              },
              "x-ratelimit-remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of remaining requests in the current period"
              },
              "x-ratelimit-reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "The timestamp of the start of the next period"
              }
            }
          },
          "400": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Generic client error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required but not provided or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Authentication required but not provided or invalid"
                }
              }
            }
          },
          "403": {
            "description": "Operation not permitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Operation not permitted"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "validationErrors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "validationErrors"
                  ],
                  "description": "Request validation failed"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Generic server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "errorId"
                  ],
                  "description": "Generic server error"
                }
              }
            }
          },
          "503": {
            "description": "Endpoint disabled or server is under maintenance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "errorId"
                  ],
                  "description": "Endpoint disabled or server is under maintenance"
                }
              }
            }
          }
        },
        "x-public": "yes",
        "security": []
      }
    },
    "/leaderboards/rank": {
      "get": {
        "description": "Get the rank of the current user on the all-time leaderboard.\n\n**Rate limit:** This operation can be called up to 500 times per hour for regular users.\n\n",
        "summary": "get leaderboard rank",
        "tags": [
          "leaderboards"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "maxLength": 50,
                  "pattern": "^[a-zA-Z0-9_+]+$"
                }
              }
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "time",
                    "words",
                    "quote",
                    "custom",
                    "zen"
                  ]
                }
              }
            }
          },
          {
            "name": "mode2",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "oneOf": [
                        {
                          "type": "string",
                          "pattern": "^\\d+$"
                        },
                        {
                          "type": "number"
                        }
                      ]
                    },
                    {
                      "type": "string",
                      "enum": [
                        "zen"
                      ]
                    },
                    {
                      "type": "string",
                      "enum": [
                        "custom"
                      ]
                    }
                  ]
                }
              }
            }
          }
        ],
        "operationId": "leaderboards.getRank",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "wpm": {
                          "type": "number",
                          "minimum": 0
                        },
                        "acc": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 100
                        },
                        "timestamp": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "raw": {
                          "type": "number",
                          "minimum": 0
                        },
                        "consistency": {
                          "type": "number",
                          "minimum": 0
                        },
                        "uid": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "discordId": {
                          "type": "string"
                        },
                        "discordAvatar": {
                          "type": "string"
                        },
                        "rank": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "badgeId": {
                          "type": "integer"
                        },
                        "isPremium": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "wpm",
                        "acc",
                        "timestamp",
                        "raw",
                        "uid",
                        "name",
                        "rank"
                      ],
                      "nullable": true
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "x-ratelimit-limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of allowed requests in the current period"
              },
              "x-ratelimit-remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of remaining requests in the current period"
              },
              "x-ratelimit-reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "The timestamp of the start of the next period"
              }
            }
          },
          "400": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Generic client error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required but not provided or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Authentication required but not provided or invalid"
                }
              }
            }
          },
          "403": {
            "description": "Operation not permitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Operation not permitted"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "validationErrors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "validationErrors"
                  ],
                  "description": "Request validation failed"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Generic server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "errorId"
                  ],
                  "description": "Generic server error"
                }
              }
            }
          },
          "503": {
            "description": "Endpoint disabled or server is under maintenance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "errorId"
                  ],
                  "description": "Endpoint disabled or server is under maintenance"
                }
              }
            }
          }
        },
        "x-public": "yes",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApeKey": []
          }
        ]
      }
    },
    "/leaderboards/daily": {
      "get": {
        "description": "Get daily leaderboard.\n\n**Rate limit:** This operation can be called up to 500 times per hour for regular users.\n\n**Required configuration:** This operation can only be called if the [configuration](#tag/configuration/operation/configuration.get) for  `dailyLeaderboards.enabled` is `true`.\n\n",
        "summary": "get daily leaderboard",
        "tags": [
          "leaderboards"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "maxLength": 50,
                  "pattern": "^[a-zA-Z0-9_+]+$"
                }
              }
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "time",
                    "words",
                    "quote",
                    "custom",
                    "zen"
                  ]
                }
              }
            }
          },
          {
            "name": "mode2",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "oneOf": [
                        {
                          "type": "string",
                          "pattern": "^\\d+$"
                        },
                        {
                          "type": "number"
                        }
                      ]
                    },
                    {
                      "type": "string",
                      "enum": [
                        "zen"
                      ]
                    },
                    {
                      "type": "string",
                      "enum": [
                        "custom"
                      ]
                    }
                  ]
                }
              }
            }
          },
          {
            "name": "daysBefore",
            "in": "query",
            "content": {
              "application/json": {
                "schema": {
                  "type": "number",
                  "enum": [
                    1
                  ]
                }
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "content": {
              "application/json": {
                "schema": {
                  "default": 0,
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 9007199254740991
                }
              }
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "content": {
              "application/json": {
                "schema": {
                  "default": 50,
                  "type": "integer",
                  "minimum": 10,
                  "maximum": 200,
                  "exclusiveMinimum": 0
                }
              }
            }
          }
        ],
        "operationId": "leaderboards.getDaily",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "pageSize": {
                          "type": "integer",
                          "minimum": 0,
                          "exclusiveMinimum": 0
                        },
                        "entries": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "wpm": {
                                "type": "number",
                                "minimum": 0
                              },
                              "acc": {
                                "type": "number",
                                "minimum": 0,
                                "maximum": 100
                              },
                              "timestamp": {
                                "type": "integer",
                                "minimum": 0
                              },
                              "raw": {
                                "type": "number",
                                "minimum": 0
                              },
                              "consistency": {
                                "type": "number",
                                "minimum": 0
                              },
                              "uid": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "discordId": {
                                "type": "string"
                              },
                              "discordAvatar": {
                                "type": "string"
                              },
                              "rank": {
                                "type": "integer",
                                "minimum": 0
                              },
                              "badgeId": {
                                "type": "integer"
                              },
                              "isPremium": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "wpm",
                              "acc",
                              "timestamp",
                              "raw",
                              "uid",
                              "name",
                              "rank"
                            ]
                          }
                        },
                        "minWpm": {
                          "type": "number",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "count",
                        "pageSize",
                        "entries",
                        "minWpm"
                      ]
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "x-ratelimit-limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of allowed requests in the current period"
              },
              "x-ratelimit-remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of remaining requests in the current period"
              },
              "x-ratelimit-reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "The timestamp of the start of the next period"
              }
            }
          },
          "400": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Generic client error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required but not provided or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Authentication required but not provided or invalid"
                }
              }
            }
          },
          "403": {
            "description": "Operation not permitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Operation not permitted"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "validationErrors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "validationErrors"
                  ],
                  "description": "Request validation failed"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Generic server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "errorId"
                  ],
                  "description": "Generic server error"
                }
              }
            }
          },
          "503": {
            "description": "Endpoint disabled or server is under maintenance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "errorId"
                  ],
                  "description": "Endpoint disabled or server is under maintenance"
                }
              }
            }
          }
        },
        "x-public": "yes",
        "security": []
      }
    },
    "/leaderboards/xp/weekly": {
      "get": {
        "description": "Get weekly xp leaderboard.\n\n**Rate limit:** This operation can be called up to 500 times per hour for regular users.\n\n**Required configuration:** This operation can only be called if the [configuration](#tag/configuration/operation/configuration.get) for  `leaderboards.weeklyXp.enabled` is `true`.\n\n",
        "summary": "get weekly xp leaderboard",
        "tags": [
          "leaderboards"
        ],
        "parameters": [
          {
            "name": "weeksBefore",
            "in": "query",
            "content": {
              "application/json": {
                "schema": {
                  "type": "number",
                  "enum": [
                    1
                  ]
                }
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "content": {
              "application/json": {
                "schema": {
                  "default": 0,
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 9007199254740991
                }
              }
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "content": {
              "application/json": {
                "schema": {
                  "default": 50,
                  "type": "integer",
                  "minimum": 10,
                  "maximum": 200,
                  "exclusiveMinimum": 0
                }
              }
            }
          }
        ],
        "operationId": "leaderboards.getWeeklyXp",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "pageSize": {
                          "type": "integer",
                          "minimum": 0,
                          "exclusiveMinimum": 0
                        },
                        "entries": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "uid": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "discordId": {
                                "type": "string"
                              },
                              "discordAvatar": {
                                "type": "string"
                              },
                              "badgeId": {
                                "type": "integer"
                              },
                              "lastActivityTimestamp": {
                                "type": "integer",
                                "minimum": 0
                              },
                              "timeTypedSeconds": {
                                "type": "number",
                                "minimum": 0
                              },
                              "rank": {
                                "type": "integer",
                                "minimum": 0
                              },
                              "totalXp": {
                                "type": "integer",
                                "minimum": 0
                              },
                              "isPremium": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "uid",
                              "name",
                              "lastActivityTimestamp",
                              "timeTypedSeconds",
                              "rank",
                              "totalXp"
                            ]
                          }
                        }
                      },
                      "required": [
                        "count",
                        "pageSize",
                        "entries"
                      ]
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "x-ratelimit-limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of allowed requests in the current period"
              },
              "x-ratelimit-remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of remaining requests in the current period"
              },
              "x-ratelimit-reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "The timestamp of the start of the next period"
              }
            }
          },
          "400": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Generic client error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required but not provided or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Authentication required but not provided or invalid"
                }
              }
            }
          },
          "403": {
            "description": "Operation not permitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Operation not permitted"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "validationErrors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "validationErrors"
                  ],
                  "description": "Request validation failed"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Generic server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "errorId"
                  ],
                  "description": "Generic server error"
                }
              }
            }
          },
          "503": {
            "description": "Endpoint disabled or server is under maintenance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "errorId"
                  ],
                  "description": "Endpoint disabled or server is under maintenance"
                }
              }
            }
          }
        },
        "x-public": "yes",
        "security": []
      }
    },
    "/results": {
      "get": {
        "description": "Gets up to 1000 results.\n\n**Rate limit:** This operation can be called up to 60 times per hour for regular users and up to 30 times per day with ApeKeys.\n\n",
        "summary": "get results",
        "tags": [
          "results"
        ],
        "parameters": [
          {
            "name": "onOrAfterTimestamp",
            "in": "query",
            "description": "Timestamp of the earliest result to fetch. If omitted the most recent results are fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "minimum": 1589428800000
                }
              }
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset of the item at which to begin the response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results to the given amount.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 1000
                }
              }
            }
          }
        ],
        "operationId": "results.get",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "wpm": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 420
                          },
                          "rawWpm": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 420
                          },
                          "charStats": {},
                          "acc": {
                            "type": "number",
                            "minimum": 50,
                            "maximum": 100
                          },
                          "mode": {
                            "type": "string",
                            "enum": [
                              "time",
                              "words",
                              "quote",
                              "custom",
                              "zen"
                            ]
                          },
                          "mode2": {
                            "oneOf": [
                              {
                                "oneOf": [
                                  {
                                    "type": "string",
                                    "pattern": "^\\d+$"
                                  },
                                  {
                                    "type": "string"
                                  }
                                ]
                              },
                              {
                                "type": "string",
                                "enum": [
                                  "zen"
                                ]
                              },
                              {
                                "type": "string",
                                "enum": [
                                  "custom"
                                ]
                              }
                            ]
                          },
                          "quoteLength": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 3
                          },
                          "timestamp": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "testDuration": {
                            "type": "number",
                            "minimum": 1
                          },
                          "consistency": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 100
                          },
                          "keyConsistency": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 100
                          },
                          "chartData": {
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "wpm": {
                                    "type": "array",
                                    "items": {
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "maxItems": 122
                                  },
                                  "raw": {
                                    "type": "array",
                                    "items": {
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "maxItems": 122
                                  },
                                  "err": {
                                    "type": "array",
                                    "items": {
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "maxItems": 122
                                  }
                                },
                                "required": [
                                  "wpm",
                                  "raw",
                                  "err"
                                ]
                              },
                              {
                                "type": "string",
                                "enum": [
                                  "toolong"
                                ]
                              }
                            ]
                          },
                          "uid": {
                            "type": "string",
                            "pattern": "^[a-zA-Z0-9_]+$"
                          },
                          "restartCount": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "incompleteTestSeconds": {
                            "type": "number",
                            "minimum": 0
                          },
                          "afkDuration": {
                            "type": "number",
                            "minimum": 0
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "pattern": "^[a-zA-Z0-9_]+$"
                            }
                          },
                          "bailedOut": {
                            "type": "boolean"
                          },
                          "blindMode": {
                            "type": "boolean"
                          },
                          "lazyMode": {
                            "type": "boolean"
                          },
                          "funbox": {
                            "type": "string",
                            "maxLength": 100,
                            "pattern": "[\\w#]+"
                          },
                          "language": {
                            "type": "string",
                            "maxLength": 50,
                            "pattern": "^[a-zA-Z0-9_+]+$"
                          },
                          "difficulty": {
                            "type": "string",
                            "enum": [
                              "normal",
                              "expert",
                              "master"
                            ]
                          },
                          "numbers": {
                            "type": "boolean"
                          },
                          "punctuation": {
                            "type": "boolean"
                          },
                          "_id": {
                            "type": "string",
                            "pattern": "^[a-zA-Z0-9_]+$"
                          },
                          "keySpacingStats": {
                            "type": "object",
                            "properties": {
                              "average": {
                                "type": "number",
                                "minimum": 0
                              },
                              "sd": {
                                "type": "number",
                                "minimum": 0
                              }
                            },
                            "required": [
                              "average",
                              "sd"
                            ]
                          },
                          "keyDurationStats": {
                            "type": "object",
                            "properties": {
                              "average": {
                                "type": "number",
                                "minimum": 0
                              },
                              "sd": {
                                "type": "number",
                                "minimum": 0
                              }
                            },
                            "required": [
                              "average",
                              "sd"
                            ]
                          },
                          "name": {
                            "type": "string"
                          },
                          "isPb": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "wpm",
                          "rawWpm",
                          "charStats",
                          "acc",
                          "mode",
                          "mode2",
                          "timestamp",
                          "testDuration",
                          "consistency",
                          "keyConsistency",
                          "chartData",
                          "uid",
                          "_id",
                          "name"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "x-ratelimit-limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of allowed requests in the current period"
              },
              "x-ratelimit-remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of remaining requests in the current period"
              },
              "x-ratelimit-reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "The timestamp of the start of the next period"
              }
            }
          },
          "400": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Generic client error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required but not provided or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Authentication required but not provided or invalid"
                }
              }
            }
          },
          "403": {
            "description": "Operation not permitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Operation not permitted"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "validationErrors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "validationErrors"
                  ],
                  "description": "Request validation failed"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Generic server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "errorId"
                  ],
                  "description": "Generic server error"
                }
              }
            }
          },
          "503": {
            "description": "Endpoint disabled or server is under maintenance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "errorId"
                  ],
                  "description": "Endpoint disabled or server is under maintenance"
                }
              }
            }
          }
        },
        "x-public": "yes",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApeKey": []
          }
        ]
      }
    },
    "/results/last": {
      "get": {
        "description": "Gets a user's last saved result.\n\n**Rate limit:** This operation can be called up to 60 times per hour for regular users.\n\n",
        "summary": "get last result",
        "tags": [
          "results"
        ],
        "parameters": [],
        "operationId": "results.getLast",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "wpm": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 420
                        },
                        "rawWpm": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 420
                        },
                        "charStats": {},
                        "acc": {
                          "type": "number",
                          "minimum": 50,
                          "maximum": 100
                        },
                        "mode": {
                          "type": "string",
                          "enum": [
                            "time",
                            "words",
                            "quote",
                            "custom",
                            "zen"
                          ]
                        },
                        "mode2": {
                          "oneOf": [
                            {
                              "oneOf": [
                                {
                                  "type": "string",
                                  "pattern": "^\\d+$"
                                },
                                {
                                  "type": "string"
                                }
                              ]
                            },
                            {
                              "type": "string",
                              "enum": [
                                "zen"
                              ]
                            },
                            {
                              "type": "string",
                              "enum": [
                                "custom"
                              ]
                            }
                          ]
                        },
                        "quoteLength": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 3
                        },
                        "timestamp": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "testDuration": {
                          "type": "number",
                          "minimum": 1
                        },
                        "consistency": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 100
                        },
                        "keyConsistency": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 100
                        },
                        "chartData": {
                          "oneOf": [
                            {
                              "type": "object",
                              "properties": {
                                "wpm": {
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "minimum": 0
                                  },
                                  "maxItems": 122
                                },
                                "raw": {
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "minimum": 0
                                  },
                                  "maxItems": 122
                                },
                                "err": {
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "minimum": 0
                                  },
                                  "maxItems": 122
                                }
                              },
                              "required": [
                                "wpm",
                                "raw",
                                "err"
                              ]
                            },
                            {
                              "type": "string",
                              "enum": [
                                "toolong"
                              ]
                            }
                          ]
                        },
                        "uid": {
                          "type": "string",
                          "pattern": "^[a-zA-Z0-9_]+$"
                        },
                        "restartCount": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "incompleteTestSeconds": {
                          "type": "number",
                          "minimum": 0
                        },
                        "afkDuration": {
                          "type": "number",
                          "minimum": 0
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "pattern": "^[a-zA-Z0-9_]+$"
                          }
                        },
                        "bailedOut": {
                          "type": "boolean"
                        },
                        "blindMode": {
                          "type": "boolean"
                        },
                        "lazyMode": {
                          "type": "boolean"
                        },
                        "funbox": {
                          "type": "string",
                          "maxLength": 100,
                          "pattern": "[\\w#]+"
                        },
                        "language": {
                          "type": "string",
                          "maxLength": 50,
                          "pattern": "^[a-zA-Z0-9_+]+$"
                        },
                        "difficulty": {
                          "type": "string",
                          "enum": [
                            "normal",
                            "expert",
                            "master"
                          ]
                        },
                        "numbers": {
                          "type": "boolean"
                        },
                        "punctuation": {
                          "type": "boolean"
                        },
                        "_id": {
                          "type": "string",
                          "pattern": "^[a-zA-Z0-9_]+$"
                        },
                        "keySpacingStats": {
                          "type": "object",
                          "properties": {
                            "average": {
                              "type": "number",
                              "minimum": 0
                            },
                            "sd": {
                              "type": "number",
                              "minimum": 0
                            }
                          },
                          "required": [
                            "average",
                            "sd"
                          ]
                        },
                        "keyDurationStats": {
                          "type": "object",
                          "properties": {
                            "average": {
                              "type": "number",
                              "minimum": 0
                            },
                            "sd": {
                              "type": "number",
                              "minimum": 0
                            }
                          },
                          "required": [
                            "average",
                            "sd"
                          ]
                        },
                        "name": {
                          "type": "string"
                        },
                        "isPb": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "wpm",
                        "rawWpm",
                        "charStats",
                        "acc",
                        "mode",
                        "mode2",
                        "timestamp",
                        "testDuration",
                        "consistency",
                        "keyConsistency",
                        "chartData",
                        "uid",
                        "_id",
                        "name"
                      ]
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "x-ratelimit-limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of allowed requests in the current period"
              },
              "x-ratelimit-remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of remaining requests in the current period"
              },
              "x-ratelimit-reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "The timestamp of the start of the next period"
              }
            }
          },
          "400": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Generic client error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required but not provided or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Authentication required but not provided or invalid"
                }
              }
            }
          },
          "403": {
            "description": "Operation not permitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Operation not permitted"
                }
              }
            }
          },
          "422": {
[...]
