.project-element{
    display: inline-block; 
    margin: 15px; 
    padding: 20px; 
    width: 20%; 
    color: white; 
    box-shadow: 0 10px 0 rgb(0, 0, 0); /* Initial shadow */
    transition: box-shadow 0.2s ease-out, transform 0.2s ease-out; /* Smooth transition for shadow and translate */
    text-align: center; /* Optional if you want centered text */
    background-color: white; /* Background color */
    color: black; /* Text color */
    border-radius: 8px; /* Optional border-radius */
    
}
.project-element:hover {
    box-shadow: 0 4px 0 rgb(0, 0, 0); /* Shadow on hover */
    transform: translateY(2px); /* Slight vertical lift on hover */
    cursor: pointer; 
}
