.project-element img{
    width: 100%; 
    height: auto; 
    object-fit: cover;
    display: block;
    border-radius: 8px 8px 0px 0px ; 
    max-height: 150px;
}

.project-element{
    display: inline-block; 
    margin: 15px; 
    padding: 0px 0px 20px 0px; 
    width: 30px;
    /* widht: calc(100% / 3 - 70px);  */ 
    /* 3 items per row with margin spacing */
    max-width: 300px; /* Prevent it from becoming too large */
    min-width: 250px; /* Prevent it from shrinking too much */
    color: white; 
    box-shadow: 10px 10px 0 rgb(0, 0, 0); /* Initial shadow */
    transition: box-shadow 0.2s ease-out, transform 0.2s ease-out; /* Smooth transition for shadow and translate */
    text-align: center; /* Optional if you want centered text */
    background-color: white; /* Background color */
    border-radius: 8px; /* Optional border-radius */
    color: #4d2e0c;

    
}
.project-element:hover {
    box-shadow: 0 2px 0 rgb(0, 0, 0);
    transform: translateY(2px);
    /*cursor: pointer;*/
}

.project-element p{
    font-size: 12px; 
}

.view-more-button{
    color: #4d2e0c;
    background-color: inherit;
    border: none; 
    left: 0px; 
    font-size: 15px; 
    cursor: pointer;
    font-family: inherit;
    font-weight: bold; 

}


.view-more-button:disabled{
    color: rgb(163, 163, 163); 
    background-color: inherit;
}

.view-more-button:hover:enabled{
    background-color: black;
    color: white; 
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out; 
    cursor: pointer; 
}



.project-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /*max-height: 4.5em;  Approximate height for 3 lines */
    padding: 0px 20px; 
  }
  
.project-title{
    padding: 0px 20px; 
}

.project-keywords {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    padding: 0px 30px; 
}