.project-list {
    margin-bottom: 20px; 
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; 
    gap: 1rem;
    justify-content: center;
}


/* On smaller screens (phones), center elements */
@media (max-width: 768px) {
    .project-list {
        justify-content: center; /* Center items only on small screens */
        text-align: center; /* Ensures any text elements inside align properly */
    }
}
