.btn{
    padding: 10px 18px ; 
    border: none; 
    margin: 4px;
    font-size: 16px;  
    border-radius: 10px; 
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 50%);
    background-color:#1D2725; 
    color: white; 
    font-family: inherit; 
    font-weight: bold
}
  .relative {
    position: relative;
  }
  

  image {
    image-rendering: pixelated;

  }
  

