.misc{
    margin: 40px 100px; 
    color: #4d2e0c;
}

h2{
    font-size: 25px; 
}

p{
    font-size: 18px; 
}


.link{
    font-size: 20px; 
    font-weight: bold; 
    
}

.link:hover{
    background-color: black;
    color: white; 
    cursor: pointer; 
    
}
.bolden{
    font-weight: bolder; 
}