.misc{
    margin: 40px 100px; 
    color: #4d2e0c;
    padding-right : 15%; 
    padding-left : 15%; 
}

h2{
    font-size: 25px; 
}

.misc p{
    font-size: 14px; 
}


.link{
    font-size: 20px; 
    font-weight: bold; 
    
}

.link:hover{
    background-color: black;
    color: white; 
    cursor: pointer; 
    
}
.bolden{
    font-weight: bolder; 
}

.featured-projects{
    display: flex; 
    justify-content: center; /* Centers items horizontally */

}

.misc a{
    text-decoration: underline;  
}

.spoiler {
    background-color: black;
    color: black;
    cursor: pointer;
    transition: 0.3s;
  }

  .spoiler:hover {
    color: white; 
    background-color: black;
  }

@media (max-width: 768px) {
    .misc{
        padding: 0; 
        margin: 5%; 
    }

}


