.personal-bests-grid {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  
  .best-box {
    flex: 1;
    min-width: 300px;
    /*background-color: #f9f9f9;*/ 
    border-radius: 12px;
    padding: 16px;
    /* Add grid inside to lay out entries in rows */
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center; 
  }
  
  .best-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5em; 
    padding: 5px; 
    text-align: center;
  }
  
  .best-title {
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .best-middle {
    font-size: 1.1rem;
    color: #444;
    margin-bottom: 4px;
  }
  
  .best-bottom {
    font-size: 0.9rem;
    color: #777;
  }
  
  .leaderboard-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .leaderboard-box {
    /*background-color: #f9f9f9;*/ 
    border-radius: 12px;
    padding: 16px;
    flex: 1;
    max-width: 10em;
  }
  
  .leaderboard-title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
  }
  
  .leaderboard-entry {
    text-align: center;
  }
  
  .leaderboard-subtitle {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 4px;
  }
  
  .leaderboard-persent-number{
    font-size: 30px;
  }

  .leaderboard-percent,
  .leaderboard-rank {
    font-size: 14px;
    color: #555;
  }

  
  