
.projects {
    margin-top: 40px; 
}



.centered-text {
    text-align: center; /* Ensures text inside is horizontally centered */
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically (if in a flex container) */
    flex-direction: column; /* Ensures vertical stacking */
    margin: 0% 20% 
}


.keyword-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    padding: 0% 15%; 
  }
  
  .keyword-button {
    padding: 5px 12px;
    border: 1px solid #999;
    border-radius: 999px;
    background-color: #f5f5f5;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
  }
  
  .keyword-button.selected {
    background-color: #333;
    color: white;
    border-color: #333;
  }

  

@media (max-width: 768px) {
    .centered-text{
        margin: 0% 
    }
    .keyword-filters{
        padding: 20px; 
    }
    .keyword-button {
        font-size: 12px;
        padding: 6px 10px;
    }
    
}

