.projects{
    margin: 20px; 
    padding-right : 15%; 
    padding-left : 15%; 
}

.project-subdiv {
    display: flex;
    flex-wrap: wrap; /* Allows elements to wrap to the next row if needed */
    align-items: flex-start; /* Aligns all elements at the top */
    gap: 1rem; /* Adds space between items */
}
