.App {
  text-align: center;
  
}

body{
  background-color: #eeeee6;
  /*background-color: #071C27;*/
  /*color: rgb(124, 235, 219); */
  color: #4d2e0c;
  font-family: 'Courier New', Courier, monospace; 
}

h2{
  font-size: 15px; 
}

p{
  font-size: 10px;
  font-weight:bold;
}





