@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  
}

body{
  background-color: #eeeee6;
  /*background-color: #071C27;*/
  /*color: rgb(124, 235, 219); */
  color: #4d2e0c;
  /*font-family: 'Courier New', Courier, monospace; */ 
  @apply bg-[#eeeee6] text-[#4d2e0c] font-mono;
}

h1{
  font-size: 30px; 
  font-weight: bold; 
}

h2{
  font-size: 15px; 
}

p{
  font-size: 10px;

}





